.footer {
    width: 100%;
    height: auto;
    background-color: #0071ea;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px;
    color: white;
    text-align: center;
    line-height: 20px;
    box-sizing: border-box;
}